<li>
    <h2>{{ .Title }}</h2>
    {{ with .Content }}
    <div class="lh-copy">
    {{.}}
    </div>
    {{ end }}
    <ul class="list">
        {{with .Params.website}}
        <li><a class="link dim" href="{{.}}" title="website"><i class="fa fa-globe fa-fw" aria-hidden="true"></i> {{.}}</a></li>
        {{end}}
        {{with .Params.twitter}}
        <li><a class="link dim" href="https://twitter.com/{{.}}" title="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i> {{.}}</a></li>
        {{end}}
        {{with .Params.facebook}}
        <li><a class="link dim" href="https://www.facebook.com/{{.}}" title="facebook"><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i> {{.}}</a></li>
        {{end}}
        {{with .Params.instagram}}
        <li><a class="link dim" href="https://instagram.com/{{.}}" title="instagram"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i> {{.}}</a></li>
        {{end}}
    </ul>
</li>