<li class="pb4">
    <h2 class="f5 fw9 ttu tracked-mega lh-title"><i class="fa fa-{{ .Params.icon-class }}" aria-hidden="true"></i> {{ .Title }}</h2>
    {{ with .Content }}
    <div>
    {{.}}
    </div>
    {{ end }}
    <ul class="list pl0 f6 f5-ns">
        {{with .Params.website}}
        <li><a class="link blue dim" href="{{.}}" title="website"><i class="fa fa-globe fa-fw" aria-hidden="true"></i> {{.}}</a></li>
        {{end}}
        {{with .Params.twitter}}
        <li><a class="link blue dim" href="https://twitter.com/{{.}}" title="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i> https://twitter.com/<strong>{{.}}</strong></a></li>
        {{end}}
        {{with .Params.facebook}}
        <li><a class="link blue dim" href="https://www.facebook.com/{{.}}" title="facebook"><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i> https://www.facebook.com/<strong>{{.}}</strong></a></li>
        {{end}}
        {{with .Params.instagram}}
        <li><a class="link blue dim" href="https://instagram.com/{{.}}" title="instagram"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i> https://instagram.com/<strong>{{.}}</strong></a></li>
        {{end}}
    </ul>
</li>