<header id="site-header" class="mt3 mt6-ns">
        <h1 id="site-title" class="f5 fw9 ttu lh-title">
                <a href="/" rel="home" class="link dark-gray">
                                <span class="tracked-tight"><i class="fa fa-female light-blue" aria-hidden="true"></i> <i class="fa fa-male orange" aria-hidden="true"></i> <i class="fa fa-child green" aria-hidden="true"></i> <i class="fa fa-child red" aria-hidden="true"></i> <i class="fa fa-child purple" aria-hidden="true"></i></span><br><span class="tracked-mega">{{ .Site.Title }}</span>
                </a>
        </h1>
</header>